<form action="<%= posts_create_path  %>" class="container">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" id="title" required>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <input name="content" type="text" class="form-control" id="content">
  </div>
  <div class="form-group">
    <label for="image_url">Image_URL</label>
    <input name="image_url" type="url" class="form-control" id="image_url">
  </div>
  
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>



<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Image_url</th>
      <th scope="col">Created_at</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
        <tr>
            <th scope="row"><%= post.id %></th>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><img src="<%= post.image_url %>" alt="<%= post.image_url %>" width="60px"  height="60px"></td>
            <td><%= post.created_at %></td>
        </tr>
    <% end %>
   </tbody>
</table>
